<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HibisKISS Yoga & Ayurveda</title>
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>

    <!-- Import styles.css -->
    <link type="text/css" rel="stylesheet" href="/css/styles.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">
            <!-- <span>
              <img class="logo-png" src="/images/logo.png" />
            </span> -->
            <span class="logo-text">HibisKISS Yoga & Ayurveda</span>
          </a>

          <a class="button-collapse" data-activates="mobileNav">
            <i class="material-icons">menu</i>
          </a>

          <!-- Dropdown Structure -->
          <ul id="dropdown1" class="dropdown-content">
            <li id="nav-font"><a href="/yoga.html">Path To Enlightenment</a></li>
            <li class="divider"></li>
            <li><a href="/poses.html">Asana Library</a></li>
            <li class="divider"></li>
            <li><a href="#!">Classes & Workshops</a></li>
          </ul>

          <ul id="dropdown2" class="dropdown-content">
            <li><a href="/ayurveda.html">The Science Of Life</a></li>
            <li class="divider"></li>
            <li id="nav-font"><a href="#!">Determine Your Vikriti</a></li>
            <li class="divider"></li>
            <li><a href="#!">Workshops</a></li>
          </ul>

          <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down">
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-button" href="/poses.html" data-activates="dropdown1">Yoga<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a class="dropdown-button" href="/ayurveda.html" data-activates="dropdown2">Ayurveda<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a class="dropdown-button" href="/academy.html" data-activates="dropdown3">Online Learning<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="/connect.html">Connect</li>
              <li><a href="/shop.html">Shop</li>
            </ul>
          </div>

          <ul id="mobileNav" class="side-nav">
            <li><a href="/yoga.html">Yoga</a></li>
            <li><a href="/ayurveda.html">Ayurveda</li>
            <li><a href="/academy.html">Online Learning</li>
            <li><a href="/connect.html">Connect</li>
            <li><a href="/shop.html">Shop</li>
          </ul>
        </div>
      </nav>
    </div>

    <main>
      <div class="parallax-container">
        <div class="parallax"><img src="/images/group.jpg"></div>
      </div>

      <div class="container">
        <div class="row">
        <div class="col sm-6">
          <h6>Yoga: The path to enlightenment. Literally translated as “union” or “to yoke”, a joining of the mind and body, finding your connection with the divine, ultimately leading to liberation.</h6>
          <div class="center">
          <h6>There are four main paths of Yoga:</h6>
          <ul>
            <li>Karma Yoga: Yoga of Action</li>
            <li>Bhakti Yoga: Yoga of Devotion</li>
            <li>Jnana Yoga: Yoga of Knowledge</li>
            <li>Raja Yoga: Yoga of Mental & Physical Control</li>
          </ul>
        </div>
          <h6>Practicing the physical postures, or asana, prepares the body to sit in meditation. The path of self-awareness begins with the postures, yet moving into pure consciousness is much, much more.</h6>
        </div>
      </div>
      </div>

      <div class="container">
        <div class="row">
          <h5>The Eight Limbs of Classical (Raja) Yoga (as laid out in Patanjali’s Yoga Sutra):</h5>
          <div class="col s6">
            <ul>
              <li>Yamas: Regulations – Five Rules of Social Conduct</li>
              <ol>
                <li>Ahimsa: non-harming, compassion</li>
                <li>Satya: truthfulness</li>
                <li>Asteya: non-stealing</li>
                <li>Brahmacarya: self-control, managing energy, chastity</li>
                <li>Aparigraha: non-possessive, non-hoarding</li>
              </ol>
              <li>Niyamas – Observances or Regular Habits</li>
              <ol>
                <li>Saucha: purity, cleanliness, self-care</li>
                <li>Samtosa: contentment</li>
                <li>Tapas: focused discipline, dedicated practice</li>
                <li>Svadhyaya: self-study</li>
                <li>Isvara Pranidhana: ritual act of devotion, surrender to a higher power</li>
              </ol>
            </ul>
          </div>
          <div class="col s6">
            <ul>
              <li>Asana – Steady Position, Relaxed Posture</li>
              <li>Pranayama – Breath Awareness and Control</li>
              <li>Pratyahara – Withdrawal of the Senses, Internal Focus</li>
              <li>Dharana – Concentration, One Pointed Attention</li>
              <li>Dhyana – Meditation</li>
              <li>Samadhi – Enlightenment</li>
            </ul>
            <p>The limbs sequence together as a pathway to enlightenment, nirvana, or bliss.</p>
          </div>
        </div>
      </div>

      <hr>

      <div class="container">
        <div class="row">
          <h6 class="center">Private Yoga Instruction</h6>
          <div class="col s4">
            <p>PRIVATE YOGA – INDIVIDUAL/GROUP</p>
            <p>Private Yoga classes tailored for your specific needs in a one on one setting. Schedule the times that work for you. Call for pricing.</p>
          </div>
          <div class="col s4">
            <p>WORKSHOPS</p>
            <p>Schedule at your facility in Ayurveda, Laughter Yoga, Restorative Yoga, Yoga Nidra, Prenatal Yoga, Yin Yoga, Pranayama or Meditation. Call for pricing.</p>
          </div>
          <div class="col s4">
            <p>CORPORATE YOGA</p>
            <p>Classes scheduled at your place of business whether it be a corporate building, educational facility or something in between. Call for pricing.</p>
          </div>
        </div>
      </div>

    </main>

    <footer class="page-footer">
      <div class="footer-copyright">
        <small>© 2014 HibisKISS Yoga & Ayurveda, LLC. All Rights Reserved.</small>
      </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/js/vendor/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/js/vendor/materialize.min.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
