    <main>
      <!-- <div class="parallax-container">
        <div class="parallax"><img src="/images/group.jpg"></div>
      </div> -->

      <div class="container">
        <br>
        <h6>Mission</h6>
        <p>Be inspirational. Be love. Be authentic. Be spiritual. Be childish. Be movement. Be peace. Be blissful. Be curious. Be a nomad. Be intuitive. Be playful.</p>
        <p>JUST BE.</p>
        <p>Specializing in Hatha Yoga, Prenatal Yoga, Restorative Yoga, Yin Yoga, Yoga Nidra, Stand Up Paddleboarding (SUP), SUP Yoga, Laughter Yoga, Ayurveda and love. And much, much more to come soon!</p>
        <p>♥ Laughter, love and play are the keys to a peaceful soul. ♥</p>
        <hr>
        <br>

        <div id="reservations" class="row">
          <h5><strong>To reserve your spot for classes, consultations, trainings, retreats, or purchase inquiries (or to just say hello!) email: <a href="#">haley.kalb@gmail.com</a></strong></h5>
        </div>
      </div>

    </main>

    <footer class="page-footer">
      <div class="footer-copyright">
        <small>© 2014 HibisKISS Yoga & Ayurveda, LLC. All Rights Reserved.</small>
      </div>
    </footer>
