    <main>
      <!-- <div class="parallax-container">
        <div class="parallax"><img src="/images/books.jpeg"></div>
      </div> -->

      <div id="container" class="container">
        <div class="row">

          <div class="col s-3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light" style="width: 350px; height: 350px;">
                <img class="activator" src="/images/vata-tea.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Vata Herbal Tea Blend<i class="material-icons right">more_vert</i></span>
                <p><a href="#">$13.00 USD</a></p>
                <p><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="LD6GQW4GZ2K32">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">16oz tin of dosha herbal tea blend.<i class="material-icons right">close</i></span>
                <p>Made using organic and naturally grown herbs of rosemary, shatavari, lotus leaf, sarsaparilla root, chamomile flower, hibiscus flower, chrysanthemum flower, spearmint, cinnamon, lemon peel, orange peel, hawthorn leaf and flower.</p>
              </div>
            </div>
          </div>

          <div class="col s-3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light" style="width: 350px; height: 350px;">
                <img class="activator" src="/images/vata-tea.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Vata Herbal Tea Blend<i class="material-icons right">more_vert</i></span>
                <p><a href="#">$13.00 USD</a></p>
                <p><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="LD6GQW4GZ2K32">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">16oz tin of dosha herbal tea blend.<i class="material-icons right">close</i></span>
                <p>Made using organic and naturally grown herbs of rosemary, shatavari, lotus leaf, sarsaparilla root, chamomile flower, hibiscus flower, chrysanthemum flower, spearmint, cinnamon, lemon peel, orange peel, hawthorn leaf and flower.</p>
              </div>
            </div>
          </div>

          <div class="col s-3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light" style="width: 350px; height: 350px;">
                <img class="activator" src="/images/vata-tea.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Vata Herbal Tea Blend<i class="material-icons right">more_vert</i></span>
                <p><a href="#">$13.00 USD</a></p>
                <p><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="LD6GQW4GZ2K32">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">16oz tin of dosha herbal tea blend.<i class="material-icons right">close</i></span>
                <p>Made using organic and naturally grown herbs of rosemary, shatavari, lotus leaf, sarsaparilla root, chamomile flower, hibiscus flower, chrysanthemum flower, spearmint, cinnamon, lemon peel, orange peel, hawthorn leaf and flower.</p>
              </div>
            </div>
          </div>

          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="WYPA3GJWGQ592">
            <table>
            <tr><td><input type="hidden" name="on0" value="Dosha">Dosha</td></tr><tr><td><select name="os0">
            	<option value="Vata">Vata </option>
            	<option value="Pitta">Pitta </option>
            	<option value="Kapha">Kapha </option>
            	<option value="Tridoshic">Tridoshic </option>
            	<option value="Custom">Custom </option>
            </select> </td></tr>
            </table>
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>

        </div>
      </div>

    </main>
